<div>
    <h2 id="page-heading">
        <span>Donantes</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-donante" [routerLink]="['/donante/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Donante
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="donantes?.length === 0">
        <span>No donantes found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="donantes?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nombreEmpresaOParticular"><span>Nombre Empresa O Particular</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="email"><span>Email</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="telefono"><span>Telefono</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="direccion"><span>Direccion</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="localidad"><span>Localidad</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="codigoPostal"><span>Codigo Postal</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="aportacion"><span>Aportacion</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="cuando"><span>Cuando</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let donante of donantes ;trackBy: trackId">
                    <td><a [routerLink]="['/donante', donante.id, 'view']">{{ donante.id }}</a></td>
                    <td>{{ donante.nombreEmpresaOParticular }}</td>
                    <td>{{ donante.email }}</td>
                    <td>{{ donante.telefono }}</td>
                    <td>{{ donante.direccion }}</td>
                    <td>{{ donante.localidad }}</td>
                    <td>{{ donante.codigoPostal }}</td>
                    <td>{{ donante.aportacion }}</td>
                    <td>{{ donante.cuando }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/donante', donante.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/donante', donante.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(donante)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
