<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>

    <div class="col-md-9">
        <h2 class="mb-3">Hola!!! En esta página podrás realizar peticiones de viseras y donaciones para la comunidad que las están fabricando.</h2>

        <div class="col-md-12 mb-4 mt-3">
        <button id="jh-create-entity" class="btn btn-primary jh-create-entity create-solicitante" [routerLink]="['/solicitante/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Solicitar Viseras
            </span>
        </button>
        </div>

        <div class="col-md-12">
        <button id="jh-create-entity" class="btn btn-primary jh-create-entity create-donante" [routerLink]="['/donante/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Donar material
            </span>
        </button>
        </div>
        <!--<div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span id="home-logged-message" *ngIf="account">You are logged in as user "{{ account.login }}".</span>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <span>If you want to </span>
                <a class="alert-link" (click)="login()">sign in</a><span>, you can try the default accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user" and password="user").</span>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <span>You don't have an account yet?</span>&nbsp;
                <a class="alert-link" routerLink="account/register">Register a new account</a>
            </div>
        </div>-->


    </div>
</div>
